body {
    height: 125vh;
    background-color: rgb(169, 209, 169);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif
    display: flex;
    align-items: center;
    text-shadow: .01px .01px .01px #000;
    
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    margin: 20px;
}

.grid-item {
    text-align: center;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    font-family: Arial, Helvetica, sans-serif;
}
main {
    margin: 55px; 
}

/* nav bar */
nav ul {
    list-style-type: none;
    padding: 20;
}
nav ul li {
    display: inline;
    margin-right: 20px;
    padding: 10px;
    background-color: #fffafa;
    color: #fff;
    border-radius: 55px;
    cursor: pointer;
}
nav ul li:hover {
    background-color:rgb(169, 209, 169);
}

nav li a {
    color: black;
    text-decoration: none;
}
